h1 {
color: blue;
font-family: Times New Roman;
}
h2 {
color: blue ;
font-family: Times New Roman;
}
h3 {
color: blue ;
font-family: Times New Romans;
}
p {
text-align: justify;
font-family: Arial;
}
b {
color: red;
font-wheight: bold;
}
i {
color: blue;
}